export MISTYSOM_HOST="mistysom-v2l-matin.mistywest.com"
export MISTYSOM_USER="root"
export MISTYSOM_PASS=""
export SSHPASS=${MISTYSOM_PASS}

export CAMERA_WIDTH="640"
export CAMERA_HEIGHT="480"

export STREAM_DEST_HOST="192.168.100.50"

export PIPELINE="\
v4l2src device=/dev/video0 io-mode=dmabuf ! video/x-raw, width=${CAMERA_WIDTH}, height=${CAMERA_HEIGHT}, format=BGR, framerate=30/1 \
! drpai model=model show-fps=true show-bbox=true log-detects=false smooth-video-rate=30 smooth-drpai-rate=10 \
! vspmfilter dmabuf-use=true ! video/x-raw,format=NV12 \
! omxh264enc use-dmabuf=true control-rate=2 target-bitrate=10485760 interval_intraframes=14 periodicty-idr=2 \
! video/x-h264, profile=baseline \
! rtph264pay config-interval=-1 ! udpsink host=${STREAM_DEST_HOST} port=51372 \
"
